<div class="container">
  <div class="row mt-5 mb-2">
    <div class="col-md-12">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/how-to" routerLinkActive="active">How to</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/examples" routerLinkActive="active">Examples</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
     <div class="card" [@cardFocus]="state">
       <div class="card-header">
         Add To Do
       </div>
        <div class="card-body">
            <input type="text" class="form-control" (focus)="toggleFocus()" (focusout)="toggleFocus()" (keyup.enter)="addTodo($event)">
            <small class="form-text text-muted" [@noteFocus]="state">Add enter to add</small>
        </div>
     </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <app-todo *ngFor="let todo of todos" [todo]="todo" (delete)="deleteTodo($event)"></app-todo>
    </div>
    <div class="col-md-6 pt-3">
     <main [@pageAnimation]="o.isActivated ? o.activatedRoute : ''">
      <router-outlet #o="outlet"></router-outlet>
     </main>
    </div>
  </div>
</div>